@media screen and(min-width: 426px) {
	.functioning {
		h2 {
			text-align: center;
		}
		ul {
			@include flexbox-space-arround;
			flex-wrap: wrap;
			align-items: center;
		}
	}
	.main_restaurant {
		@include flexbox-space-arround;
		flex-flow: row wrap;
	}
	.restaurant_title {
		text-align: center;
	}
	footer {
		text-align: center;
	}
	.card img {
		width: 300px;
	}
}
@media screen and(min-width: 1200px) {
	.menu_all {
		@include flexbox-space-arround;
	}
	.meals {
		width: 300px;
		h4 {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	.description_meals:hover {
		margin-right: -30px;
	}
}
@media screen and(min-width: 1024px) and(max-width: 1199px) {
	.menu_creation {
		width: 800px;
		height: 1050px;
		margin-left: 110px;
	}
}