//mixin
@mixin flexbox-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-space-arround {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@mixin icons {
    color: $gray;
	margin-left: 20px;
	font-size: 20px;
}

@mixin uppercase {
    text-transform: uppercase;
	margin-left: 15px;
}