//colors
$color_water_leaf_approx: #99e2d0;
$color_persian_pink_approx: #ff79da;
$white_90: rgba(255, 255, 255, .9);
$color_heliotrope_approx: #aa65ff;
$color_medium_purple_approx: #9356dc;
$black: #000;
$color_mercury_approx: #eaeaea;
$wild_sand: #f4f4f4;
$white: #fff;
$gray: #808080;
$color_lavender_approx: #b189e2;
$color_blue_chalk_approx: #f5edff;
$black_10: rgba(0, 0, 0, 0.1);
$color_deep_sea_approx: #008766;
$color_mine_shaft_approx: #353535;
$linear-gradient:linear-gradient(to right, #ff79da , #9356dc);

//fonts
$font_0: Shrikhand;
$font_1: sans-serif;

//shadows
$shadow-1: 0 0 25px 6px;
$shadow-2: 0 -5px 5px;
$shadow-3: 0 2px 4px;
$shadow-4: 1px 2px 2px;
